<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
            name="jdbc/MySQLDS"
            url="jdbc:oracle://localhost:1522/ex"
            driverClassName="com.mysql.jdbc.Driver"
            auth="Container"
            type="javax.sql.DataSource"
            username="owner"
            password="wFN9Lx9CBmdx"
    />
</Context>