<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Students servlet -->
    <servlet>
        <servlet-name>StudentsServlet</servlet-name>
        <servlet-class>DAO.controller.StudentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentsServlet</servlet-name>
        <url-pattern>/DAO/Students</url-pattern>
    </servlet-mapping>

    <!-- Klassen servlet -->
    <servlet>
        <servlet-name>KlassenServlet</servlet-name>
        <servlet-class>DAO.controller.KlassenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KlassenServlet</servlet-name>
        <url-pattern>/DAO/Klassen</url-pattern>
    </servlet-mapping>

    <!-- doLogin servlet -->
    <servlet>
        <servlet-name>doLogin</servlet-name>
        <servlet-class>L2.P1.doLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doLogin</servlet-name>
        <url-pattern>/L2/P1/doLogin</url-pattern>
    </servlet-mapping>

    <!-- doCalculation servlet -->
    <servlet>
        <servlet-name>doCalculation</servlet-name>
        <servlet-class>L2.P2.doCalculation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doCalculation</servlet-name>
        <url-pattern>/L2/P2/doCalculation</url-pattern>
    </servlet-mapping>

    <!-- L3 doRegister servlet -->
    <servlet>
        <servlet-name>L3RegisterServlet</servlet-name>
        <servlet-class>L3.L3RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L3RegisterServlet</servlet-name>
        <url-pattern>/L3/doRegister</url-pattern>
    </servlet-mapping>


    <!-- LES 4 -->


    <!-- L4 doRegister servlet -->
    <servlet>
        <servlet-name>L4RegisterServlet</servlet-name>
        <servlet-class>L4.controller.L4RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L4RegisterServlet</servlet-name>
        <url-pattern>/L4/doRegister</url-pattern>
    </servlet-mapping>

    <!-- L4 doLogin servlet -->
    <servlet>
        <servlet-name>L4LoginServlet</servlet-name>
        <servlet-class>L4.controller.L4LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L4LoginServlet</servlet-name>
        <url-pattern>/L4/doLogin</url-pattern>
    </servlet-mapping>

    <!-- L4 doLogout servlet -->
    <servlet>
        <servlet-name>L4LogoutServlet</servlet-name>
        <servlet-class>L4.controller.L4LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L4LogoutServlet</servlet-name>
        <url-pattern>/L4/doLogout</url-pattern>
    </servlet-mapping>
    

    <!-- LES 5 -->


    <!-- L5 doRegister servlet -->
    <servlet>
        <servlet-name>L5RegisterServlet</servlet-name>
        <servlet-class>L5.controller.L5RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L5RegisterServlet</servlet-name>
        <url-pattern>/L5/doRegister</url-pattern>
    </servlet-mapping>

    <!-- L5 doLogin servlet -->
    <servlet>
        <servlet-name>L5LoginServlet</servlet-name>
        <servlet-class>L5.controller.L5LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L5LoginServlet</servlet-name>
        <url-pattern>/L5/doLogin</url-pattern>
    </servlet-mapping>

    <!-- L5 doLogout servlet -->
    <servlet>
        <servlet-name>L5LogoutServlet</servlet-name>
        <servlet-class>L5.controller.L5LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L5LogoutServlet</servlet-name>
        <url-pattern>/L5/doLogout</url-pattern>
    </servlet-mapping>

    <!-- L5 Servlet Context Listener -->
    <listener>
        <listener-class>L5.utils.L5ServletContextListener</listener-class>
    </listener>
    

    <!-- LES 6 -->


    <!-- L6 doRegister servlet -->
    <servlet>
        <servlet-name>L6RegisterServlet</servlet-name>
        <servlet-class>L6.controller.L6RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L6RegisterServlet</servlet-name>
        <url-pattern>/L6/doRegister</url-pattern>
    </servlet-mapping>

    <!-- L6 doLogin servlet -->
    <servlet>
        <servlet-name>L6LoginServlet</servlet-name>
        <servlet-class>L6.controller.L6LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L6LoginServlet</servlet-name>
        <url-pattern>/L6/doLogin</url-pattern>
    </servlet-mapping>

    <!-- L6 doLogout servlet -->
    <servlet>
        <servlet-name>L6LogoutServlet</servlet-name>
        <servlet-class>L6.controller.L6LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>L6LogoutServlet</servlet-name>
        <url-pattern>/L6/doLogout</url-pattern>
    </servlet-mapping>

    <!-- L6 Servlet Context Listener -->
    <listener>
        <listener-class>L6.utils.L6ServletContextListener</listener-class>
    </listener>

</web-app>